.img-box {
    width: 100%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
.img-list {
    width: 100%;
    height: 100%;
}
.img-list, .img-index {
    position: absolute;
}
.img-index {
	z-index: 1;
    right: 0px;
    bottom: 0px;
}
.img-index i {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 5px;
    border-radius: 12px;
    background-color: #ffffff;
    background-color: rgba(200,200,200,.6);
}
.img-index .on {
    background-color: #ffffff;
    background-color: rgba(150,150,150,.75);
}